* {
  box-sizing: border-box;
  font-family: monospace, Arial;
}

body {
  margin: 0;
  height: 100vh;
}

#btn-section {
  width: 360px;
  margin-right: 10px;
}

#display {
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
}

#form {
  width: 200px;
}

@media (max-width:700px) {
  #drum-machine {
    max-width: 420px;
    flex-direction: column-reverse;
  }
}

@media (max-width: 410px) {
  #drum-machine {
    max-width: 300px;
    flex-direction: column-reverse;
  }

  #btn-section {
    width: 300px;
  }

  .drum-pad {
    font-size: 10px;
  }

  .btn-container {
    width: 90px;
  }
}